body, html {
	height: 100%;
	margin: 0;
}

.bg{
	background-image:url("images/index_background.jpg");
	
	height:; 100%;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.header {
	height: 25%;
	/*padding-bottom:15%;*/
	background-color: #FFFFFF;
}

.header_image {
	height:100%;
	width:auto;
}

h1 {
	color: #000000;
}