html {
	margin: 0;
	height: 100%;
	width: 100%;
}

body {
	min-height: 100%;
	margin: 0;

	background-image:url("images/index_background.jpg");

	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.bg{
	background-image:url("images/index_background.jpg");

	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}

.header {
	height: 25%;
	/*padding-bottom:15%;*/
	background-color: #FFFFFF;
}

.header_image {
	height:100%;
	width:auto;
}

h1 {
	color: #000000;
}