html {
	margin: 0;
	height: 100%;
	width: 100%;
}

body {
	min-height: 100%;
	margin: 0;

	background-image:url("images/index_background.jpg");

	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.header {
	position:absolute;
	height: 25%;
	margin: 0;
	/*padding-bottom:15%;*/
	background-color: #FFFFFF;
	z-index:0;
}

.header_image {
	position: absolute;
	left:0;
	top:0;
	height:60px;
	width:auto;
	z-index: -1;
}

h1 {
	padding-left: 100px;
	position: relative;
	color: #000000;
}